body {
    background-color: lightblue;
}

h1 {
    background-color: ; 
    text-align: justify;
    
}

div {
    background-color: ;
    text-align: justify;
}

p {
    background-color: ;
    text-align: justify;
}
