
/* BODY */
body {
    background-color: black;
}

/* HEADINGS */
h1, h3, h4, h5, h6 {
  line-height: 1.45;
  text-align: center;
  color: white;
  font-family: arial;
}

h1 {
  font-size: 1.7em; /* 40px/16=2.5em */
  font-weight: 400;
}

h2 {
  font-size: 1.3em; /* 40px/16=2.5em */
  font-weight: 400;
  line-height: 1.15;
}

h1::-moz-selection { background: darkorchid;}
h1::selection { background: darkorchid;}

color: white; 
    font-family: arial;
    font-weight: 400;
    font-size: 1.3em; /* 40px/16=2.5em */
    text-align: center;




/* MENU */

.vertical-menu {
    width: 75%; /* Set a width if you like */
    margin: auto;
}

.vertical-menu a {
    background-color: black; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    text-align: center;
    
}

.vertical-menu a:link {
    color: white;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: ; /* Dark grey background on mouse-over */
    color: tomato;
    text-decoration: none;
}

.vertical-menu a.active {
    background-color: black; /* Add a green color to the "active/current" link */
    color: dodgerblue;
}


a:visited {
    color: white;
    text-decoration: none;
}



/* PARAGRAPHS */
p {
    font-family: arial;
    font-size: 0.875em; /* 14px/16=0.875em */
    color: white;
    text-align: center;
}

p::-moz-selection { background: darkorchid;}
p::selection { background: darkorchid;}


