
/* BODY */
body {
    background-color: black;
}

/* HEADINGS */
h1 {
    color: dodgerblue; 
    font-family: arial;
    font-weight: 400;
    font-size: 1.7em; /* 40px/16=2.5em */
    
    text-align: center;
}

h2 {
    color: dodgerblue; 
    font-family: arial;
    font-weight: 400;
    font-size: 1.1em; /* 40px/16=2.5em */
    text-align: center;
}

/* PARAGRAPHS */
p {
    font-family: arial;
    font-size: 0.875em; /* 14px/16=0.875em */
    color: white ;
    text-align: center;
}


p::-moz-selection { background: darkorchid;}
p::selection { background: darkorchid;}

h1::-moz-selection { background: darkorchid;}
h1::selection { background: darkorchid;}

ul {
    list-style-type: none;
    text-align: center;
}

/* LINKS */
a:link {
    color: #FEF655;
    text-decoration: none;
}

a:visited {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

a:active {
    color: FEF655;
    text-decoration: none;
}
